* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1408px;
  width: 100%;
  margin: 0 auto;
}

.header {
  background: #131313;
  padding: 32px 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header_navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_menu-list {
  display: flex;
  gap: 80px;
}
.header_menu-list--item {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  background: none;
  cursor: pointer;
}
.header_menu-list--item:hover {
  color: #979595;
  transition: 0.5s;
}
.header_cv-file {
  display: flex;
  gap: 12px;
  width: 215px;
  height: 44px;
  background: #FFFFFF;
  border-radius: 6px;
  color: #131313;
  padding: 10px 27px 10px 35px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.header_cv-file:hover {
  background: #979595;
  transition: 0.3s;
  color: #FFFFFF;
  stroke: #FFFFFF;
}

.active {
  padding: 32px 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: #03A386;
  z-index: 100;
  border-bottom: 1px solid #131313;
  transition: 0.4s;
}

.hero {
  padding-top: 132px;
  background: #131313;
  min-height: 880px;
  margin-bottom: 100px;
}
.hero_content {
  display: flex;
  gap: 120px;
}
.hero_content-descr {
  padding-top: 197px;
  max-width: 568px;
}
.hero_content-descr h1 {
  font-size: 64px;
  line-height: 75px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 24px;
}
.hero_content-descr h1 > span {
  color: #03A386;
}
.hero_content-descr h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 8px;
}
.hero_content-descr p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #858585;
  margin-bottom: 72px;
}
.hero_content-img .vladyslav {
  padding-top: 32px;
  padding-bottom: 76px;
}

.skills {
  height: 100%;
}
.skills .tabs {
  border: 3px solid #131313;
  border-radius: 11px;
  width: 656px;
  height: 56px;
  margin: 0 auto;
  margin-bottom: 64px;
  display: flex;
}
.skills .b-tab {
  padding: 20px;
  display: none;
}
.skills .b-tab.active2 {
  display: block;
}
.skills .b-nav-tab {
  width: 332px;
  display: inline-block;
  padding: 13px;
  background: white;
  color: #131313;
}
.skills .b-nav-tab.active2 {
  width: 332px;
  color: white;
  background: #131313;
}
.skills_names {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}
.skills_names h2 {
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  color: #131313;
  margin-bottom: 8px;
}
.skills_names span {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;
  color: #333333;
}
.skills .buttonFrontend {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344054;
  border-radius: 6px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.skills .buttonAdditional {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344054;
  border-radius: 6px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.skills .row1__list {
  display: flex;
  gap: 32px;
  margin-bottom: 64px;
}
.skills .row1__list > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 328px;
}
.skills .row1__list > li > .svg {
  margin-bottom: 24px;
}
.skills .item_content {
  display: flex;
  flex-direction: column;
}
.skills .item_content-par {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 25px;
  text-align: center;
  color: #131313;
  margin-bottom: 4px;
}
.skills .item_content > span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #333333;
}
.skills .row2__list {
  display: flex;
  gap: 32px;
  margin-bottom: 64px;
}
.skills .row2__list > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 328px;
}
.skills .row2__list > li > .svg {
  margin-bottom: 24px;
}
.skills .row3__list {
  display: flex;
  gap: 32px;
  margin-bottom: 143px;
}
.skills .row3__list > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 328px;
}
.skills .row3__list > li > .svg {
  margin-bottom: 24px;
}

.qualification {
  background: #131313;
}
.qualification_wrapper {
  display: flex;
  gap: 273px;
  justify-content: space-between;
  padding-bottom: 100px;
}
.qualification_wrapper-left {
  max-width: 567px;
  width: 100%;
}
.qualification_wrapper-left-names {
  display: flex;
  padding-left: 97px;
  flex-direction: column;
  margin-bottom: 48px;
}
.qualification_wrapper-left-names_duo {
  font-size: 28px;
  line-height: 33px;
  text-transform: uppercase;
  color: #F7F7F7;
  margin-bottom: 4px;
}
.qualification_wrapper-left-names_sub {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #03A386;
}
.qualification_wrapper-left_content {
  display: flex;
  gap: 97px;
}
.qualification_wrapper-left_content-line {
  width: 100%;
  border-left: 2px solid #03A386;
  transform: rotate(360deg);
}
.qualification_wrapper-left_content-desc .desc_list {
  gap: 40px;
  display: flex;
  flex-direction: column;
}
.qualification_wrapper-left_content-desc .desc_list--item {
  width: 470px;
  background: linear-gradient(100.54deg, #202020 -36.6%, #191919 147%);
  border-radius: 8px;
  padding: 24px 32px;
  min-height: 170px;
}
.qualification_wrapper-left_content-desc .desc_list li:nth-child(1)::before {
  content: "";
  border-bottom: 2px solid #03A386;
  width: 86px;
  display: block;
  position: relative;
  top: 75px;
  right: 130px;
}
.qualification_wrapper-left_content-desc .desc_list li:nth-child(2)::before {
  content: "";
  border-bottom: 2px solid #03A386;
  width: 86px;
  display: block;
  position: relative;
  top: 75px;
  right: 130px;
}
.qualification_wrapper-left_content-desc .desc_list li:nth-child(3)::before {
  content: "";
  border-bottom: 2px solid #03A386;
  width: 86px;
  display: block;
  position: relative;
  top: 75px;
  right: 130px;
}
.qualification_wrapper-left_content-desc .desc_list li:nth-child(4)::before {
  content: "";
  border-bottom: 2px solid #03A386;
  width: 86px;
  display: block;
  position: relative;
  top: 75px;
  right: 130px;
}
.qualification_wrapper-right {
  max-width: 567px;
  width: 100%;
}
.qualification_wrapper-right-names {
  display: flex;
  padding-left: 97px;
  flex-direction: column;
  margin-bottom: 48px;
}
.qualification_wrapper-right-names_duo {
  font-size: 28px;
  line-height: 33px;
  text-transform: uppercase;
  color: #F7F7F7;
  margin-bottom: 4px;
}
.qualification_wrapper-right-names_sub {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #03A386;
}
.qualification_wrapper-right_content {
  display: flex;
  gap: 97px;
}
.qualification_wrapper-right_content-line {
  width: 100%;
  border-left: 2px solid #03A386;
  transform: rotate(360deg);
}
.qualification_wrapper-right_content-desc .desc_list {
  gap: 40px;
  display: flex;
  flex-direction: column;
}
.qualification_wrapper-right_content-desc .desc_list--item {
  width: 470px;
  background: linear-gradient(100.54deg, #202020 -36.6%, #191919 147%);
  border-radius: 8px;
  padding: 24px 32px;
  min-height: 170px;
}
.qualification_wrapper-right_content-desc li:nth-child(1)::before {
  content: "";
  border-bottom: 2px solid #03A386;
  width: 86px;
  display: block;
  position: relative;
  top: 75px;
  right: 130px;
}
.qualification_wrapper-right_content-desc li:nth-child(2)::before {
  content: "";
  border-bottom: 2px solid #03A386;
  width: 86px;
  display: block;
  position: relative;
  top: 75px;
  right: 130px;
}
.qualification_wrapper-right_content-desc li:nth-child(3)::before {
  content: "";
  border-bottom: 2px solid #03A386;
  width: 86px;
  display: block;
  position: relative;
  top: 75px;
  right: 130px;
}
.qualification_wrapper-right_content-desc li:nth-child(4)::before {
  content: "";
  border-bottom: 2px solid #03A386;
  width: 86px;
  display: block;
  position: relative;
  top: 75px;
  right: 130px;
}
.qualification_wrapper .job_name {
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  color: #F7F7F7;
  margin-bottom: 4px;
}
.qualification_wrapper .job_years {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #EEEEEE;
  margin-bottom: 8px;
}
.qualification_wrapper .job_desc {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #7F7F7F;
}
.qualification_names {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}
.qualification_names--main {
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  color: #F7F7F7;
  margin-bottom: 8px;
}
.qualification_names--sub {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #ACACAC;
}/*# sourceMappingURL=style.css.map */